
.footerArea{
   
    background: #1a1a1a;
    border-top: 1px solid #2f2f2f;
    padding: 70px 0;
}

.itemWidget h5{
    color: #fff;
    line-height: 1;
    padding-bottom: 5px;
    font-size: 17px;
    margin: 5px 0;
}


.usefullLinks{
    list-style: none;
    padding: 0px;
}

.usefullLinks li a{
    color: #999999;
    font-size: 16px;
    padding: 5px 0;
    display: block;
    text-decoration: none;
    transition: all 0.5s;

}

.usefullLinks li:hover a{
    padding-left: 10px;
    color: #87b106;
}